.custom{
    --slds-c-button-brand-color-background: #edb707;
    --slds-c-button-brand-color-background-hover: #edb707;
    --slds-c-button-brand-color-background-active: #edb707;
    --slds-c-button-brand-color-border: #edb707;
    
}